# =========================
# 📦 Node / JS
# =========================
node_modules/
.pnp
.pnp.*
.pnpm-debug.log*

# =========================
# ⚛️ Next.js
# =========================
.next/
out/
build/

# =========================
# 🔐 Variables de entorno
# =========================
.env
.env.*
!.env.example

# =========================
# 🧾 Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# 💻 Sistema
# =========================
.DS_Store

# =========================
# 🦀 Rust / Anchor
# =========================
target/
Cargo.lock

# =========================
# 🔗 Solana
# =========================
id.json

# =========================
# 🧠 VSCode
# =========================
.vscode/

# =========================
# 🚀 Vercel
# =========================
.vercel

# =========================
# 🧾 TypeScript
# =========================
*.tsbuildinfo
next-env.d.ts

# =========================
# 🧪 Testing
# =========================
coverage/

# =========================
# 🐳 Docker
# =========================
mongo-data/
docker-data/

# =========================
# 📦 Misc
# =========================
*.pem

# =========================
# 🐳 Docker / Compose
# =========================
*.tar
*.img

# =========================
# 🗂️ Backups
# =========================
*.bak
*.backup
*.old

# =========================
# 📁 Uploads / local files
# =========================
uploads/
tmp/
temp/
